/* :root { */
/* --base-width: 1920; */
/* 원래 배경 너비 */
/* --base-height: 1080; */
/* 원래 배경 높이 */
/* --new-width: 2560; /* 아이맥 너비 */
/* --new-height: 1440; 아이맥 높이 */
/* --new-width: 1920; */
/* 아이맥 너비 */
/* --new-height: 1080; */
/* 아이맥 높이 */

/* 위치 조정 비율 계산 */
/* --scale-x: calc(var(--new-width) / var(--base-width)); */
/* --scale-y: calc(var(--new-height) / var(--base-height)); */
/* } */

&::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

&::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 10px;
  border: 4px solid rgba(0, 205, 218, 1);
  background-color: rgba(0, 205, 218, 1);
  /* box-shadow: inset 6px 6px 0 #00CDDA; */
}

&::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: rgab(0, 0, 0, 0);
}

.background {
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  animation: fadein 1s;
}

.background-image {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.door-container {
  gap: 60px;
  display: flex;
  flex-direction: row;
  /* top: calc(367px * var(--scale-y)); */
  /* left: calc(206px * var(--scale-x)); */
  top: 367px;
  left: 45px;
  width: fit-content;
  height: 589px;
  position: absolute;
}

.door-btn-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 326px;
  height: 589px;
}

.door-image {
  width: 326px;
  height: 589px;
  position: absolute;
  z-index: 100;
}

.door-image-open-0 {
  width: 890px;
  height: auto;
  top: -290px;
  left: -286px;
  position: absolute;
  z-index: 99;
  animation: fadein 1s;
}

.door-image-open-1 {
  width: 890px;
  height: auto;
  top: -290px;
  left: 80px;
  position: absolute;
  z-index: 99;
  animation: fadein 1s;
}

.door-image-open-2 {
  width: 890px;
  height: auto;
  top: -290px;
  left: 440px;
  position: absolute;
  z-index: 99;
  animation: fadein 1s;

}

.door-image-open-3 {
  width: 890px;
  height: auto;
  top: -290px;
  left: 820px;
  position: absolute;
  z-index: 99;
  animation: fadein 1s;

}

/* 아이맥용 */
/* .door2-image {
  width: 752px;
  height: 685px;
  top: 418px;
  left: 905px;
  position: relative;
} */


/* 아이맥 27인치 2560X1440 */
.door2-container {
  width: 752px;
  height: 685px;
  /* top: 250px;
  left: 30%; */
  top: 316px;
  left: 697px;
  /* top: calc(218px * var(--scale-y)); */
  /* left: calc(605px * var(--scale-x)); */
  position: absolute;
}

.door2-image {
  width: 1002px;
  height: 913px;
  /* top: 210px;
  left: -40px; */
  /* top: calc(218px * var(--scale-y)); */
  /* left: calc(605px * var(--scale-x)); */
  /* left: 605px; */
  /* position: relative; */
  position: absolute;
  z-index: 100;
  animation: fadein 1s;
}

.door2-image-shadow {
  width: 1920px;
  height: 1080px;
  top: -320px;
  left: -580px;
  /* top: calc(218px * var(--scale-y)); */
  /* left: calc(605px * var(--scale-x)); */
  /* left: 605px; */
  /* position: relative; */
  position: absolute;
  z-index: 99;

  animation: fadein 1s;
}


.btn {
  width: 252px;
  height: 72px;
  top: 320px;
  left: 250px;
  /* left: 834px; */
  /* top: calc(626px * var(--scale-y)); */
  /* left: calc(834px * var(--scale-x)); */
  gap: 0px;
  opacity: 0px;
  position: absolute;
  z-index: 200;
}

.homeBtn-0 {
  width: 200px;
  height: 62px;
  top: 280px;
  left: 63px;
  /* top: calc(-310px * var(--scale-y)); */
  /* left: calc(63px * var(--scale-x)); */
  position: relative;
  z-index: 101;
}

.homeBtn-1 {
  width: 200px;
  height: 62px;
  top: 280px;
  left: 430px;
  /* top: calc(-310px * var(--scale-y)); */
  /* left: calc(63px * var(--scale-x)); */
  position: relative;
  z-index: 101;
}

.homeBtn-2 {
  width: 200px;
  height: 62px;
  top: 280px;
  left: 790px;
  /* top: calc(-310px * var(--scale-y)); */
  /* left: calc(63px * var(--scale-x)); */
  position: relative;
  z-index: 101;
}

.homeBtn-3 {
  width: 200px;
  height: 62px;
  top: 280px;
  left: 1170px;
  /* top: calc(-310px * var(--scale-y)); */
  /* left: calc(63px * var(--scale-x)); */
  position: relative;
  z-index: 101;
}

.navigation {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  font-family: 'Chosun';
}

.navigation-container {
  writing-mode: vertical-rl;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.navigation-content {
  z-index: 200;
  display: flex;
  width: 80px;
  height: 216px;
  border-left: 5px solid black;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: rgba(0, 0, 0, 1);
  position: relative;

  border-bottom: 1px solid black;

  &:hover {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(111, 229, 255, 1);

  }
}

.navigation-content.hover {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(111, 229, 255, 1);
}

.bg-container {
  position: absolute;
  /* top: calc(132px * var(--scale-y));
  left: calc(100px * var(--scale-x)); */
  top: 132px;
  left: 100px;
  width: 1640px;
  height: 1000px;
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    outline: none;
    border: 8px solid rgba(0, 205, 218, 1);
    background-color: rgba(0, 205, 218, 1);
    /* box-shadow: inset 6px 6px 0 #00CDDA; */
  }

  &::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: rgab(0, 0, 0, 0);
  }
}

.title-name {
  /* top: calc(132px * var(--scale-y));
  left: calc(100px * var(--scale-x)); */
  font-family: 'Shilla_Culture';
  font-size: 24px;
  font-weight: 700;
  line-height: 44px;
  margin: 0px;
  margin-bottom: 10px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 1);
}

.line {
  position: absolute;
  width: 1640px;
  height: 1.5px;
  /* top: calc(196px * var(--scale-y));
  left: calc(100px * var(--scale-x)); */
  background-color: rgba(0, 0, 0, 1);
}

.bg-text {
  padding-top: 20px;
  box-sizing: border-box;
}

@keyframes fadeInDown {
  0% {
    opacity: 1;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, -100%, 0);
  }
}

.pp-modal-container {
  position: absolute;
  width: 1920px;
  height: 1080px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 201;

}

.pp-modal-img {
  width: 1920px;
  height: 676px;
  top: 200px;
  left: 360px;
  animation: fadeInDown 0.2s;
}

.pp-modal-content {
  width: 1920px;
  height: 630px;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  z-index: 202;
  overflow-x: scroll;
  overflow-y: hidden;
  left: 20px;
  top: 20px;
  box-sizing: border-box;
  border-top: 6px solid black;

  animation: fadeInDown 0.2s;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    outline: none;
    border: 8px solid rgba(0, 205, 218, 1);
    background-color: rgba(0, 205, 218, 1);
    /* box-shadow: inset 6px 6px 0 #00CDDA; */
  }

  &::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: rgab(0, 0, 0, 0);
  }
}

.pp-modal-text {
  width: 6140px;
  height: 220px;
}

.pp-modal-image {
  width: 6140px;
  height: 400px;
}

.x-btn {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 900px;
  left: 860px;
  cursor: pointer;
  z-index: 203;
}

.pp-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 44px;
}

.pp-title-pp {
  gap: 20px;
  display: flex;
  flex-direction: row;
}

.pp-title-set {
  /* width: 91px; */
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.pp-title-left {
  width: 50%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.pp-text {
  font-family: 'Chosun';
  font-size: 28px;
  font-weight: 400;
  line-height: 44px;
  color: rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
}

@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

.pp-notice {
  font-family: 'SUIT';
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  display: flex;
  align-items: center;
  animation: blink-effect 1s step-end infinite;
}

.pp-title-right {
  width: 40%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
}

.underline {
  width: 171px !important;
  height: 6px !important;
}

.pp-book {
  font-family: 'Chosun';
  font-size: 28px;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  cursor: pointer;
  width: 171px;
}

.pp-content {
  width: 1738px;
  height: 1000px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 20px;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    outline: none;
    border: 8px solid rgba(0, 205, 218, 1);
    background-color: rgba(0, 205, 218, 1);
    /* box-shadow: inset 6px 6px 0 #00CDDA; */
  }

  &::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: rgab(0, 0, 0, 0);
  }
}

.pp-container {
  width: 1920px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20px;
  left: 20px;

  img {
    width: 32px;
    height: 32px;
  }
}

.pp-compare-container {
  position: absolute;
  width: 1920px;
  height: 1080px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 201;
  animation: fadein 1s;
}

.pp-compare-bg {
  width: 1200px;
  height: 680px;
  position: absolute;
}

.pp-compare-modal-content {

  position: absolute;
  z-index: 201;

  img {
    width: 1200px;
    height: 680px;
  }
}

.pp-compare {
  width: 580px;
  height: 490px;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 202;
  top: 160px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    outline: none;
    border: 8px solid rgba(0, 205, 218, 1);
    background-color: rgba(0, 205, 218, 1);
    /* box-shadow: inset 6px 6px 0 #00CDDA; */
  }

  &::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: rgab(0, 0, 0, 0);
  }
}

.pp-compare-text {
  width: 540px;
  font-family: 'Chosun';
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  color: rgba(0, 0, 0, 1);
  display: flex;
  align-items: left;
  white-space: wrap;
  padding-left: 40px;
  box-sizing: border-box;
}

.pp-compare-title {
  font-family: 'Chosun';
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
}

.overview-container {
  width: fit-content;
  height: 896px;
  top: 132px;
  left: 51px;
  /* top: calc(132px * var(--scale-y)); */
  /* left: calc(51px * var(--scale-x)); */
  position: absolute;
  display: flex;
  flex-direction: row;
  border-top: 6px solid black;
  font-family: 'Chosun';
  box-sizing: border-box;
}

.overview-content {
  width: 436px;
  height: 896px;
  border: 2px solid black;
  border-top: 0px;
  display: flex;
  flex-direction: column;

}

.overview-title {
  background: rgba(0, 205, 218, 1);
  color: black;
  width: 436px;
  height: 60px;
  font-size: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
  
  &:hover {
    text-shadow: 0 0 5px rgb(255 255 255 / 100%), 0 0 10px rgb(255 255 255 / 100%), 0 0 15px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1);
  }
}

.overview-class {
  display: flex;
  flex-direction: row;
}

.class-content {
  writing-mode: vertical-lr;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  /* border: 2px solid black; */
  border-bottom: 2px solid black;
  width: 100%;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
  }

  z-index: 10;
}

.class-content:not(:last-child) {
  border-right: 2px solid black;
  /* 첫 번째 항목을 제외한 상단 테두리 추가 */
}

.overview-text-container {
  height: 616px;
  /* margin-top: 16px;
  margin-right: 16px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  overflow-y: scroll !important;
  z-index: 10;
  gap: 16px;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    outline: none;
    border: 8px solid rgba(0, 205, 218, 1);
    background-color: rgba(0, 205, 218, 1);
    /* box-shadow: inset 6px 6px 0 #00CDDA; */
  }

  &::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: rgab(0, 0, 0, 0);
  }

}

.overview-text {
  display: flex;
  flex-direction: column;
  width: 369px;
  gap: 6px;

  img {
    width: 369px;
    height: auto;
  }
}

.class-title {
  font-family: 'Shilla_Culture';
  font-size: 24px;
  line-height: 40px;
  height: 40px;
}

.class-text {
  font-family: 'Shilla_Culture';
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
}

.cd-modal-container {
  position: absolute;
  width: 1920px;
  height: 1080px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 600;
  animation: fadein 1s;
}

.cd-modal-content {
  width: 1920px;
  height: 1080px;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 601;
  overflow-x: scroll;
  overflow-y: hidden;
  left: 20px;
  box-sizing: border-box;
  border-top: 6px solid black;
}

.x-btn {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 900px;
  left: 860px;
  cursor: pointer;
  z-index: 603;
}

.cd-title {
  position: absolute;
  width: 211px;
  height: 24px;
  top: 24px;
  left: 1605px;
  font-family: 'SUIT';
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  animation: blink-effect 1s step-end infinite;
}

.cd-modal-gif {
  position: absolute;
  /* width: 324px;
  height: 404px; */
  top: 250px;
  left: 100px;
  z-index: 600;
}

.house-container {
  width: 81px;
  height: 88px;
  display: flex;
  justify-content: center;
  position: absolute;
}

.house-content {
  position: absolute;
  z-index: 100;
}

.house-content-hover {
  position: absolute;
  top: -35px;
  left: -22px;
  z-index: 100;
}

.house-title {
  position: absolute;
  top: -45px;
  z-index: 101;
}

.house-name {
  position: absolute;
  font-family: 'Chosun';
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  padding: 0px;
  z-index: 101;
  top: 35px;
}

.cloud1 {
  width: 845px;
  height: 267px;
  position: absolute;
  top: 512px;
  left: 60px;
  z-index: 500;
}

.cloud2 {
  width: 526px;
  height: 250px;
  position: absolute;
  top: 532px;
  left: 1127px;
  z-index: 500;
}

.cloud3 {
  width: 543px;
  height: 236px;
  position: absolute;
  top: 277px;
  left: 533px;
  z-index: 500;
}

.cloud4 {
  width: 355px;
  height: 140px;
  position: absolute;
  top: 254px;
  left: 1416px;
  z-index: 500;
}

.joong {
  width: 14px !important;
  height: 18px !important;
  margin-left: 10px;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@font-face {
  font-family: 'Chosun';
  src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ChosunCentennial.woff2') format('woff2');
}

@font-face {
  font-family: 'Shilla_Culture';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_CultureB-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'SUIT';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
}