:root {
  --base-width: 1920;
  /* 원래 배경 너비 */
  --base-height: 1080;
  /* 원래 배경 높이 */
  /* --new-width: 2560; /* 아이맥 너비 */
  /* --new-height: 1440; 아이맥 높이 */
  --new-width: 1920;
  /* 아이맥 너비 */
  --new-height: 1080;
  /* 아이맥 높이 */

  /* 위치 조정 비율 계산 */
  --scale-x: calc(var(--new-width) / var(--base-width));
  --scale-y: calc(var(--new-height) / var(--base-height));
}

&::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

&::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 10px;
  border: 4px solid rgba(0, 205, 218, 1);
  background-color: rgba(0, 205, 218, 1);
  /* box-shadow: inset 6px 6px 0 #00CDDA; */
}

&::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: rgab(0, 0, 0, 0);
}

.background {
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
}

.background-image {
  width: 100vw;
  height: 100vh;
}

.door-container {
  gap: 60px;
  display: flex;
  flex-direction: row;
  top: calc(367px * var(--scale-y));
  left: calc(206px * var(--scale-x));
  /* top: 367px;
  left: 206px; */
  width: fit-content;
  height: 589px;
  position: absolute;
}

/* 아이맥 27인치 2560X1440 */
.door2-container {
  width: 752px;
  height: 685px;
  /* top: 218px;
  left: 605px;
  left: 905px; */
  top: calc(218px * var(--scale-y));
  left: calc(605px * var(--scale-x));
  position: absolute;
}

.door-image {
  width: 326px;
  height: 589px;
  position: relative;
  z-index: 100px;
}

.door-image-open {
  width: 600px;
  height: 1000px;
  position: relative;
}

/* 아이맥용 */
/* .door2-image {
  width: 752px;
  height: 685px;
  top: 418px;
  left: 905px;
  position: relative;
} */

.door2-image {
  width: 752px;
  height: 685px;
  /* top: 218px; */
  top: calc(218px * var(--scale-y));
  left: calc(605px * var(--scale-x));
  /* left: 605px; */
  position: relative;
}


.btn {
  width: 252px;
  height: 72px;
  /* top: 626px;
  left: 834px; */
  top: calc(626px * var(--scale-y));
  left: calc(834px * var(--scale-x));
  gap: 0px;
  opacity: 0px;
  position: absolute;
}

.door-btn-container {
  display: flex;
  flex-direction: column;
}

.homeBtn {
  width: 200px;
  height: 62px;
  /* top: -310px;
  left: 63px; */
  top: calc(-310px * var(--scale-y));
  left: calc(63px * var(--scale-x));
  position: relative;
}

.navigation {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  font-family: 'Chosun';
}

.navigation-container {
  writing-mode: vertical-rl;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.navigation-content {
  z-index: 6;
  display: flex;
  width: 80px;
  height: 216px;
  border-left: 5px solid black;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: rgba(0, 0, 0, 1);

  border-bottom: 1px solid black;

  &:hover {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(111, 229, 255, 1);

  }
}

.navigation-content.hover {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(111, 229, 255, 1);
}

.bg-container {
  position: absolute;
  top: calc(132px * var(--scale-y));
  left: calc(100px * var(--scale-x));
  width: 1640px;
  height: 1000px;
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    outline: none;
    border: 8px solid rgba(0, 205, 218, 1);
    background-color: rgba(0, 205, 218, 1);
    /* box-shadow: inset 6px 6px 0 #00CDDA; */
  }

  &::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: rgab(0, 0, 0, 0);
  }
}

.title-name {
  /* top: calc(132px * var(--scale-y));
  left: calc(100px * var(--scale-x)); */
  font-family: 'Shilla_Culture';
  font-size: 24px;
  font-weight: 700;
  line-height: 44px;
  margin: 0px;
  margin-bottom: 10px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 1);
}

.line {
  position: absolute;
  width: 1640px;
  height: 1.5px;
  /* top: calc(196px * var(--scale-y));
  left: calc(100px * var(--scale-x)); */
  background-color: rgba(0, 0, 0, 1);
}

.bg-text {
  padding-top: 20px;
  box-sizing: border-box;
}

.pp-modal-bg {
  position: absolute;
  width: 1920px;
  height: 1080px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.pp-modal-content {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 101;

  img {
    width: 1200px;
    height: 680px;
    top: 200px;
    left: 360px;

  }
}

.pp-container {
  position: absolute;
  width: 1920px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  img {
    width: 32px;
    height: 32px;
  }
}

.pp-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 100vw;
  height: 44px;
}

.pp-title-pp {
  gap: 20px;
  display: flex;
  flex-direction: row;
}

.pp-title-set {
  /* width: 91px; */
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.pp-title-left {
  width: 50%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.pp-text {
  font-family: 'Chosun';
  font-size: 28px;
  font-weight: 400;
  line-height: 44px;
  color: rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
}

.pp-notice {
  font-family: 'SUIT';
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  display: flex;
  align-items: center;
}

.pp-title-right {
  width: 50%;
  font-family: 'Chosun';
  font-size: 28px;
  font-weight: 400;
  line-height: 44px;
  text-align: right;

}

.pp-content {
  width: 1738px;
  height: 1000px;
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    outline: none;
    border: 8px solid rgba(0, 205, 218, 1);
    background-color: rgba(0, 205, 218, 1);
    /* box-shadow: inset 6px 6px 0 #00CDDA; */
  }

  &::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: rgab(0, 0, 0, 0);
  }
}

.overview-container {
  width: fit-content;
  height: 896px;
  /* top: 132px;
  left: 51px; */
  top: calc(132px * var(--scale-y));
  left: calc(51px * var(--scale-x));
  position: absolute;
  display: flex;
  flex-direction: row;
  border-top: 6px solid black;
  font-family: 'Chosun';
  box-sizing: border-box;
}

.overview-content {
  width: 436px;
  height: 896px;
  border: 2px solid black;
  border-top: 0px;
  display: flex;
  flex-direction: column;

}

.overview-title {
  background: rgba(0, 205, 218, 1);
  color: black;
  width: 436px;
  height: 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
}

.overview-class {
  display: flex;
  flex-direction: row;
}

.class-content {
  writing-mode: vertical-lr;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  /* border: 2px solid black; */
  border-bottom: 2px solid black;
  width: 100%;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
  }

  z-index: 10;
}

.class-content:not(:last-child) {
  border-right: 2px solid black;
  /* 첫 번째 항목을 제외한 상단 테두리 추가 */
}

.overview-text-container {
  height: 616px;
  margin-top: 16px;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  overflow-y: scroll !important;
  z-index: 10;
  gap: 16px;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    outline: none;
    border: 8px solid rgba(0, 205, 218, 1);
    background-color: rgba(0, 205, 218, 1);
    /* box-shadow: inset 6px 6px 0 #00CDDA; */
  }

  &::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: rgab(0, 0, 0, 0);
  }

}

.overview-text {
  display: flex;
  flex-direction: column;
  width: 369px;
  gap: 6px;

  img {
    width: 369px;
    height: auto;
  }
}

.class-title {
  font-family: 'Shilla_Culture';
  font-size: 24px;
  line-height: 40px;
  height: 40px;
}

.class-text {
  font-family: 'Shilla_Culture';
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
}

@font-face {
  font-family: 'Chosun';
  src: url('./ChosunCentennial.ttf') format('truetype');
}

@font-face {
  font-family: 'Shilla_Culture';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_CultureB-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'SUIT';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
}