&::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

&::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 10px;
  border: 4px solid rgba(0, 205, 218, 1);
  background-color: rgba(0, 205, 218, 1);
  /* box-shadow: inset 6px 6px 0 #00CDDA; */
}

&::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: rgab(0, 0, 0, 0);
}

.background {
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
}

.background-image {
  width: 100vw;
  height: 100vh;
}

.door-container {
  gap: 60px;
  display: flex;
  flex-direction: row;
  top: 367px;
  left: 206px;
  width: fit-content;
  height: 589px;
  position: absolute;
}

.door2-container {
  width: 752px;
  height: 685px;
  top: 218px;
  left: 605px;
  left: 905px;
  position: absolute;
}

.door-image {
  width: 326px;
  height: 589px;
  position: relative;
}

/* 아이맥용 */
/* .door2-image {
  width: 752px;
  height: 685px;
  top: 418px;
  left: 905px;
  position: relative;
} */

.door2-image {
  width: 752px;
  height: 685px;
  top: 218px;
  left: 605px;
  position: relative;
}


.btn {
  width: 252px;
  height: 72px;
  top: 626px;
  left: 834px;
  gap: 0px;
  opacity: 0px;
  position: absolute;
}

.door-btn-container {
  display: flex;
  flex-direction: column;
}

.homeBtn {
  width: 200px;
  height: 62px;
  top: -310px;
  left: 63px;
  position: relative;
}

.navigation {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  font-family: 'Chosun';
}

.navigation-container {
  writing-mode: vertical-rl;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.navigation-content {
  z-index: 6;
  display: flex;
  width: 80px;
  height: 216px;
  border-left: 5px solid black;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: rgba(0, 0, 0, 1);

  border-bottom: 1px solid black;

  &:hover {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(111, 229, 255, 1);

  }
}

.navigation-content.hover {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(111, 229, 255, 1);
}

.overview-container {
  width: fit-content;
  height: 896px;
  top: 132px;
  left: 51px;
  position: absolute;
  display: flex;
  flex-direction: row;
  border-top: 6px solid black;
  font-family: 'Chosun';
  box-sizing: border-box;
}

.overview-content {
  width: 436px;
  height: 896px;
  border: 2px solid black;
  border-top: 0px;
  display: flex;
  flex-direction: column;

}

.overview-title {
  background: rgba(0, 205, 218, 1);
  color: black;
  width: 436px;
  height: 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
}

.overview-class {
  display: flex;
  flex-direction: row;
}

.class-content {
  writing-mode: vertical-lr;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  /* border: 2px solid black; */
  border-bottom: 2px solid black;
  width: 100%;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
  }

  z-index: 10;
}

.class-content:not(:last-child) {
  border-right: 2px solid black;
  /* 첫 번째 항목을 제외한 상단 테두리 추가 */
}

.overview-text-container {
  height: 616px;
  margin-top: 16px;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  overflow-y: scroll !important;
  z-index: 10;
  gap: 16px;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    outline: none;
    border: 8px solid rgba(0, 205, 218, 1);
    background-color: rgba(0, 205, 218, 1);
    /* box-shadow: inset 6px 6px 0 #00CDDA; */
  }

  &::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: rgab(0, 0, 0, 0);
  }

}

.overview-text {
  display: flex;
  flex-direction: column;
  width: 369px;
  gap: 6px;

  img {
    width: 369px;
    height: auto;
  }
}

.class-title {
  font-family: 'Shilla_Culture';
  font-size: 24px;
  line-height: 40px;
  height: 40px;
}

.class-text {
  font-family: 'Shilla_Culture';
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
}

@font-face {
  font-family: 'Chosun';
  src: url('./ChosunCentennial.ttf') format('truetype');
}

@font-face {
  font-family: 'Shilla_Culture';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_CultureB-Bold.woff2') format('woff2');
}